@model LoginViewModel
@{

}

<form asp-controller="Auth" asp-action="Login" method="post">

    <div>
        <label>UserName</label>
        <input asp-for="UserName" />

    </div>

    <div>
        <label>Passworld</label>
        <input asp-for="Password" />

    </div>

    <input type="submit" value="Submit" />

</form>