@page "/"
@namespace BlazorApp.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

<component type="typeof(App)" render-mode="ServerPrerendered" />

<body>


    <script>
        function addToLocalStorage(key, value) { localStorage[key] = value; }
        function readToLocalStorage(key) { return localStorage[key]; }
    </script>

</body>