@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">@Title @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {

	[Parameter]
	public string? Title { get; set; } = "Courrent count:";

	private int currentCount = 0;

	private void IncrementCount()
	{
		currentCount++;
	}
}
