@page "/"

<PageTitle>前后端学习记录</PageTitle>

@* <h1>Hello, welcome to my Web.</h1>
<p>
    See, it's pretty rudimentary at the moment.
    <br>
    But the future is promising!
</p> *@

<br>
<BlogPosts />