@page "/"

@*<PageTitle>Index</PageTitle>*@

<h1>Hello, welcome to my Blog.</h1>

See, it's pretty rudimentary at the moment.
<br>
But the future is promising!

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
@*<Counter Title="Home Courrent count:" />*@

<br>
<br>
<br>
<BlogPosts />



