@page "/music"

<!DOCTYPE html>
<html lang="en">

<head>

    <meting-js auto="https://y.qq.com/n/yqq/song/001RGrEX3ija5X.html"></meting-js>


    <link rel="stylesheet" href="https://static.likepoems.com/cdn/aplayer/dist/APlayer.min.css">
    <script src="https://static.likepoems.com/cdn/aplayer/dist/APlayer.min.js"></script>
    <script src="https://static.likepoems.com/cdn/aplayer/dist/Meting.min.js"></script>

    <!-- 自定义歌词样式 -->
    <style>
        .aplayer-list li, .aplayer-music {
            text-align: left;
            color: #666
        }

        .aplayer-lrc .aplayer-lrc-contents p {
            font-size: 15px !important;
            font-weight: bold !important;
        }

        .aplayer-lrc .aplayer-lrc-contents .aplayer-lrc-current {
            color: #212121 !important;
        }
    </style>

</head>

<body>
    <h3>Music</h3>

    <footer>

        <div class="aplayer"
             data-id="8268823919"
             data-server="tencent"
             data-type="playlist"
             data-fixed="true"
             data-autoplay="false"
             data-list-folded="true"
             data-mutex="true"
             data-order="random"
             data-loop="all"
             data-volume="0.4"
             date-preload="auto">
        </div>

    </footer>
</body>

</html>
