@page "/music2"

<!DOCTYPE html>
<html lang="en">

<body>
    <h3>Music</h3>

    <footer>

        <div class="aplayer"
             data-id="8268823919"
             data-server="tencent"
             data-type="playlist"
             data-fixed="true"
             data-autoplay="false"
             data-list-folded="true"
             data-mutex="true"
             data-order="random"
             data-loop="all"
             data-volume="0.4"
             date-preload="auto">
        </div>

    </footer>
</body>

</html>
