@using BlazorApp.Data
@using BlazorApp.Service
@inject BlogService BlogService


<b>Blog Posts -Start</b>
<div class="blog-posts-items container">

    @if (Posts != null)
    {
        @foreach (var post in Posts)
        {
            if (post != null)
            {
                <div class="blog-posts-item">
                    <div>
                        <h3>@post.Title</h3>
                    </div>

                    <div>
                        @post.Description
                    </div>

                    <div>
                        <a href="/posts2/@post.Url">Read more...</a>
                    </div>
                </div>
            }
        }
    }

</div>
<b>Blog Posts -End</b>

@code {
    public List<BlogPost> Posts { get; private set; } = new List<BlogPost>();

    //protected override void OnInitialized()
    //{
    //    Posts = BlogService.GetBlogPosts();
    //}

    protected override async Task OnInitializedAsync()
    {
        Posts = await BlogService.GetBlogPosts();
    }
}