@using BlazorApp.Data;
@inject BlazorApp.Service.IBlogService BlogService

@*<h3>BlogPosts</h3>*@


@foreach (var post in Posts)
{
	<div style="margin: 20px;">

		<div>
			<h3>@post.Title</h3>
		</div>

		<div>
			@post.Description
		</div>

	</div>
}

@code {
	public BlogPost[] Posts { get; private set; }

	protected override void OnInitialized()
	{
		Posts = BlogService.GetBlogPosts();
	}
}