@inherits LayoutComponentBase

<div class="page">
	<NavMenu />

	<main>
		<div class="top-row px-4">
			<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
		</div>

		<article class="content px-4">
			@Body
		</article>

		<footer>
			<div style=" text-align:center;">
				<a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=" target="_blank">您的备案号</a>
				<a href="https://beian.miit.gov.cn/" target="_blank">赣ICP备2023005815号-1</a>
			</div>
		</footer>

	</main>
</div>
