<div class="top-bar">

    <p class="user-name">Cofdream</p>
@*
    <div class="container-fluid">

        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>*@

    <div class="nav-container" @onclick="ToggleNavMenu">

        <div class="nav-item">
            <NavLink class="nav-link" href="counter">
                Counter
            </NavLink>
        </div>

        <div class="nav-item">
            <NavLink class="nav-link" href="music">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Music
            </NavLink>
        </div>

        <div class="nav-item2">
            <SelectBlogTheme />
        </div>
    </div>


   @* <div @onclick="ToggleNavMenu">

        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="counter">
                    <span class="oi oi-plus" aria-hidden="true"></span> Counter
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="fetchdata">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="todo">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Todo
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="call">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Call Js
                </NavLink>
            </div>

            <div class="nav-item  px-4">
                <NavLink class="nav-link" href="content2">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> content2
                </NavLink>
            </div>

        </nav>
    </div>*@

</div>

<div class="clear"></div>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
