.top-bar {
    background-color: rgba(0.1,0.1,0.1,0.25);
    /*background-image: url(images/bei_an.png);*/
    height: 35px;
}

.user-name {
    color: rgba(255,255,255,255);
    font-size: 20px;
    margin-left: 30px;
    float: left;
}


.nav-container {
    column-gap: 20px;
    /*column-rule: 4px dotted rgb(79, 185, 227);*/
    float: right;
}



.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    /*font-size: 0.9rem;*/
    /*padding-bottom: 0.5rem;*/
    float: left;
}

    /*.nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }*/

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 1.5rem;
        display: flex;
        align-items: center;
        line-height: 1.5rem;
    }

        .nav-item ::deep a.active {
            background-color: rgba(255,255,255,0.25);
            /*color: black;*/
        }

        .nav-item ::deep a:hover {
            background-color: rgba(255,255,255,0.1);
            /*color: cyan;*/
        }

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

.clear {
    clear: both; /*在chrome中：让第后续块元素新起一行显示*/
}